/**Reset Css**/
body, p, h1, h2, h3, h4, h5, h6{
    margin:0;
    box-sizing: border-box;
    
}
h1, h2, h3, h4, h5, h6 {
   
    font-family: 'Federo', sans-serif;
}
.hobbies1, .hobbies2, .hobbiesList{
    background-color:white;
    border:1px solid white;
    box-sizing: border-box;
  
 /* max-width: 250px; */
    padding: 10px;
}

/**Header**/
header{
    background-color:rgb(13, 0, 54);
    text-align:center;
    width:100%;
 
    min-width: 750px;
}
 header h1, header h4{
     color:white;
     margin:0 auto;
    padding: 10px;
  
 }

/**Nav**/
nav{
    width: 300px;
    height:850px;
    position:absolute;
    margin:30px auto;
    left:10px;
    border:solid 4px white;
}
nav h2{
    margin: 20px 0;
    text-decoration: underline;
    text-align: center;
}
nav div{
    border:solid 1px black;
    margin:10px;
   /*  height: 400px; */
    position:relative;
    text-align: center;
}

nav div span:first-child{
    font-size: 50px;
    position: relative;
    top:50%;
    }

nav div span:nth-child(2){
    font-size:15px;
    font-weight:bold;
    background-color:white;
    border-radius: 20px;
    padding:5px;
    color:rgb(148, 7, 117);
    position:absolute;
    top:0;
    right:0;
}
/**Global**/

body{
    background-color:#bac4cc7e;
    font-family: 'Federant', cursive;
    margin: 0 auto;

}

.hobbies{
    width: 70%;
   
    position:absolute;
    left:350px;
    border:solid 4px white;
    margin:40px auto;
}
.search{
    margin:20px auto;
    width:400px;
}
.detail{
    display:flex;
    margin: 10px auto;
    width: 400px;
}

.hobbiesList{
    height: 355px;
    margin: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
   display: flex;
   flex-wrap: nowrap;
}
.hobby{
    text-align: center;
    display:flex;
    flex-direction: column;
    max-width: 250px;
    margin: 0 5px;
}
.hobby:hover{
   border:solid 4px white; 
  background-color:rgba(119, 65, 116, 0.575);
  
}
.hobby .img img{
   width: 210px;
   height: 210px; 
   padding: 5px;
}

.btnHobby{
    margin:5px auto;
}

#hobbiesDetail{
    text-align: center;
    padding: 10px;
    margin: 10px;

}
#hobbiesDetail h3{
    text-decoration: underline;
    color:white;
    background-color:rgb(102, 4, 158);
    padding: 10px;
}
#hobbiesDetail p{
    min-height: 100px;
    margin: 10px;
}
/**Footer**/
footer{
    background-color:rgb(13, 0, 54);
text-align: center;
padding: 20px;
position: fixed;
bottom: 0;
width: 100%;


}
footer h4{
    color:white;
}